<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <h3 class="mt-3">View Employee Details</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Employee Code</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of employeeData">
                        <th scope="row">{{i.empCode}}</th>
                        <td>{{i.empName}}</td>
                        <td>{{i.designation}}</td>
                        <td>{{i.salary}}</td>
                        <td>{{i.companyName}}</td>
                        <td>{{i.mobile}}</td>
                        <td>{{i.username}}</td>
                        <td>{{i.password}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


